article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

footer {
    background-color: rgb(238, 239, 230);
    color: rgb(112, 112, 113);
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
}

.main-grid-container {
    display: grid;
    grid-template-columns: 160px auto;
    margin-top: 10px;
    margin-right: 10px;
}

.main-link {
    color: rgb(112, 112, 113); 
    text-decoration: none;
}