.footer {

    overflow: hidden;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -100px;
    /* background-color: rgb(238, 239, 230); */
    background-color: red;
    color: rgb(112, 112, 113);
}

.main-link {
    color: rgb(112, 112, 113); 
    text-decoration: none;
}